<div class="payment-details__row">
  <div class="payment-details__header">
    <%= t '.labels.ach_account_name' %>
  </div>
  <div class="payment-details__data">
    <%= payment_method.ach_account_name %>
  </div>
</div>
<div class="payment-details__row">
  <div class="payment-details__header">
    <%= t '.labels.ach_account_number' %>
  </div>
  <div class="payment-details__data">
    <%= payment_method.ach_account_number %>
  </div>
</div>
<div class="payment-details__row">
  <div class="payment-details__header">
    <%= t '.labels.ach_account_type' %>
  </div>
  <div class="payment-details__data">
    <%= payment_method.ach_account_type %>
  </div>
</div>
