<div class="row">
  <div class="col-10">
    <div class="card mb-3">
      <div class="card-body">
        <div class="text">
          <dl>
            <dt><%= t('.product_category') %></dt>
            <dd><%= @redemption_instruction.product_category.name %></dd>
            <dt><%= t('.instruction_title') %></dt>
            <dd><%= @redemption_instruction.title %></dd>
            <dt><%= t('.instruction_description') %></dt>
            <dd><%= @redemption_instruction.description %></dd>
            <dt><%= t('.instruction_active') %></dt>
            <dd><%= @redemption_instruction.active? %></dd>
          </dl>
        </div>
        <%= link_to t('.delete_instruction'), organization_redemption_instruction_path(current_organization, @redemption_instruction), method: :delete if policy(@redemption_instruction).destroy? %>
      </div>
    </div>
    <%= link_to t('.nav.back'), organization_redemption_instructions_path(current_organization) %>
  </div>
</div>
