<div class="code-card m-auto">
  <div class="background-slant-wrapper code-card-content">
    <div class="background-slant lightgreen" style="background-color: <%=code.product_category.background_color %>"></div>

    <div class="code-title">
      <%= code.product_category.name %>
    </div>

    <%=image_tag("wallmart.png", :align=> "left" , :width=>'50%') if code.virtual_card_provider == 'first_data'%>

    <div class="code-pricing">
      <% unless options.fetch(:hide_dollar_amount, false) %>
      <span class="code-limit"><%= code.limit.format(:no_cents_if_whole) || "Unknown" %></span>
      <% end %>
      <% unless options.fetch(:hide_expiration_date, false) %>
      <span class="code-exp-date"><%= code.expires_on ? l(code.expires_on, format: :mmddyyyy) : 'None' %></span>
      <% end %>
    </div>

    <div class="code-image">
      <%= attached_image_tag code.product_category.icon %>
    </div>
  </div>
</div>
