<h2><%= current_organization.name %></h2>

<%= render 'nav_header' %>

<div class="index-table-controls">
  <div class="order-search">
    <%= search_form_for @search, url: organization_orders_path(current_organization) do |f| %>
    <div class="form-group">
      <%= f.search_field :order_cont, placeholder: t('helpers.search.placeholder'), class: "form-control" %>
      <div class="action-group">
        <button class="btn btn-primary" id="order-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        <%= link_to t('helpers.search.clear'), organization_orders_path(current_organization), class: 'btn btn-outline-primary' %>
        <%= link_to t('helpers.search.advanced'), new_organization_advanced_search_orders_path(current_organization), class: 'advanced-search-button btn btn-outline-primary' %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="table-action csv-export">
    <%= link_to t('.export'), organization_orders_path(current_organization, format: :csv), class: 'add-action btn btn-outline-primary' %>
  </div>
</div>

<%= render 'billing_status' %>

<div class="index-table-container orders-table-container">
  <header>
    <%= t('.header') %>
    <small><%= t '.subheader', count: @orders_count %></small>
  </header>
 <%if @orders.any? %>
  <table class="orders-index-table">
    <thead>
      <tr>
        <th><%= sort_link @search, :id, (t '.columns.id') %></th>
        <th><%= t '.columns.po' %></th>
        <th><%= t '.columns.status' %></th>
        <th><%= t '.columns.order_date' %></th>
        <th><%= t '.columns.amount' %></th>
        <th><%= t '.columns.options' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.uniq.each do |order| %>
        <tr class="orders-index-table__order orders-index-table__order--<%= order.status %>">
          <td><%= order.order_identifier %></td>
          <td><%= order.po_number %></td>
          <td><%= t("orders.statuses.#{order.status}") %></td>
          <td><%= l(order.starts_on, format: :mmddyyyy) %></td>
          <td><%= order.formatted_total %></td>
          <td>
            <% if order.paid? %>
              <%= link_to t('.actions.view'), organization_order_path(current_organization, order) %>
              <% if order.pdf.attached? && current_user.admin? %>
                <%= link_to t('.pdf_order'), rails_blob_path(order.pdf, disposition: "attachment") %>
              <% end %>
            <% elsif !order.cancelled? %>
              <%= link_to t('.edit_order'), new_enrollment_order_payment_path(order) %>
              <% if order.pdf.attached? && current_user.admin? %>
                <%= link_to t('.pdf_order'), rails_blob_path(order.pdf, disposition: "attachment") %>
              <% end %>
              <%= link_to t('.cancel_order'), organization_order_cancel_path(current_organization, order), method: :post %>
            <% end %>
          </td>
          <% if order.legacy? %>
            <td class="alert alert-warning"><%= t('.columns.legacy') %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
     <%= t('organizations.codes.no_codes') %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

