<% if member.usages.any? %>
  <div class="alert alert-warning" role="alert">
    <%= t 'members.usages_alert' %>
  </div>
<% end %>

<%= simple_form_for member, url: member.persisted? ? organization_member_path(current_organization, member, mode: params[:mode]) : organization_members_path(current_organization, member, mode: params[:mode]) do |f| %>
  <fieldset class="pb-4">
    <legend>
      <% if f.object.persisted? %>
        <%= t '.legend.edit_member' %>
      <% else %>
        <%= t '.legend.new_member' %>
      <% end %>
    </legend>
    <div class="inputs-33">
      <%= f.input :first_name %>
      <%= f.input :middle_name %>
      <%= f.input :last_name %>
    </div>
  </fieldset>

  <fieldset class="pb-4">
    <div class="inputs-50">
      <%= f.input :external_member_id %>
    </div>
  </fieldset>

  <fieldset class="pb-4">
    <legend><%= t '.legend.contact' %></legend>
    <div class="inputs-50">
      <%= f.input :email, disabled: !current_user.admin? %>
    </div>
    <div class="inputs-50">
      <%= f.input :phone, input_html: { class: 'optional-field masked-phone' }, hint: t('users.phone_number_hint') %>
    </div>
  </fieldset>

  <fieldset>
    <%= f.simple_fields_for :address do |ff| %>
      <%= ff.input :id, as: :hidden %>
      <legend><%= t '.legend.address' %></legend>
      <div class="inputs-50">
        <%= ff.input :street1, required: false %>
      </div>
      <div class="inputs-50-25-25">
        <%= ff.input :city, required: false %>
        <%= ff.input :state, as: :states, required: false %>
        <%= ff.input :zip, required: false %>
      </div>
    <% end %>
  </fieldset>

  <div class="text-center py-4">
    <%= f.submit class: 'btn btn-gray btn-wide' %>
  </div>
<% end %>
